<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a>Duong Le</a></h1>

        <img src="{{site.logo}}" alt="Logo" />
        <p>
          <i>MS in CS, Intelligent Robotics</i><br>
          University of Southern California <br>
          Los Angeles, CA
        </p>
        <p>
          [<a href="{{site.social_media.linkedin}}"><b>LinkedIn</b></a>]
          [<a href="{{ site.resume }}"><b>Resume</b></a>]
        </p>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>

  </body>
</html>
